body {
    background: #fff;
    font-size: 14px;
}


h1 {
    margin:20px 0;
}
h2 {
    margin: 15px 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    background:#f1f1f1;
}

.header {
    position: relative;
    background: #f0f0f0;
    padding: 20px;
    height: 100px;
    border-bottom: 1px solid #a6a7d4;
}

.header .logo {
    font-size:30px;
    font-weight: bold;

    margin: 20px 0 0 50px;
}

.header .menu {
    margin-top:35px

}
.header .login-header-form {
    position: absolute;
    top:30px;
    right:30px;
    padding: 10px 20px;
    border:1px solid #aaa;

}
.login-order-form {
    margin: 15px 0;
    padding: 10px 20px;
    border:1px solid #aaa;
    position: relative;

}
.header .login-header-form .login-title, .login-order-form .login-title{
    font-weight: bold;
}

.login-header-form .signup-link {
    position: absolute;
    top: 10px;
    right: 50px;
}


.header .login-header-form input, .login-order-form input {
    margin: 10px 5px;
    padding: 2px 5px;
}

.middle {
    padding: 15px 15px;
}

.item {
    margin: 0;
    padding: 20px 5px;
    border-bottom: 1px solid #000;
}

.item h2 {
    margin: 0 0 10px 0;
}

.item .price {
    margin: 5px 0 0 10px;
    padding: 5px;
    background: #fff;
    display: inline-block;
}

.item .count {
    margin: 5px 0 0 10px;
    padding: 5px;
    background: #fff;
    display: inline-block;
}

.item .order-item {
    margin: 5px 0 0 10px;
    display: inline-block;
}
.item .order-item .order-button {
    background: #fff;
    padding: 5px;
    text-decoration: underline;
    margin-right:10px;
    cursor: pointer;
}

.item .order-item .order-item-less, .item .order-item .order-item-more, .item .count .order-item-less, .item .count .order-item-more {
    text-decoration: underline;
    cursor: pointer;
    margin: 0 4px;
}

.item .item-image {
    float:left;
    width: 150px;
    margin: 0 15px 0 0;
}
.item .description {
    margin: 5px 0 10px 0;
}
.item .description:after {
    content:'';
    display: block;
    clear: both;
}

.footer {
    background: #eaeaea;
    padding: 10px 20px;
    border-top: 1px solid #a6a7d4;
}

form.profile {
    margin: 10px 0 30px 0;
}
form.profile input, form.profile textarea {
    margin: 10px 0;
    display: block;
}
form.profile textarea {
    width:50%;
    height:50px;
}

form.signup input {
    margin: 10px 0;
    display: block;
}

.login-page form.login-page {
    margin: 10px 0;
    display: block;
}
.login-page .login-title {
    font-size: 20px;
    margin: 15px 0;
}

.login-page form.login-form input{
    display: block;
    margin: 10px 0;
}


.order {
    margin: 0;
    padding: 10px 5px;
    border-bottom: 1px solid #aaa;
}
.order p {
    margin: 5px 0;
}

.pages {
    margin: 15px 0;
    text-align: center;
}
.pages .page {
    padding: 5px;
}
.pages .page.current {
    font-weight: bold;
}